.App-header {
    display: grid;
    align-items: center;
    justify-content: center;
}

#quote-box {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: auto;
}

#text {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color: red;
}

#author {
    text-align: right;
    grid-column: 2/3;
    grid-row: 2/3;
}

#new-quote {
    position: relative;
    left: 85%;
}

#tweet-quote {
}

.div {
    grid-column: 2/3;
    grid-row: 3/4;
}